@font-face {
	font-family: Arizonia;
	src: local("Arizonia Regular"), local("Arizonia-Regular"), url(http://fonts.gstatic.com/s/arizonia/v7/8Usm7f8XTsZinW2e-ZMd5fesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
