article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
html {
	font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px;
}
a {
	background: none;
}
a:focus {
	outline: dotted thin;
}
a:active {
	outline: 0px;
}
a:hover {
	outline: 0px;
}
h1 {
	margin: 0.67em 0px; font-size: 2em;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
hr {
	height: 0px; box-sizing: content-box; -moz-box-sizing: content-box;
}
mark {
	background: rgb(255, 255, 0); color: rgb(0, 0, 0);
}
code {
	font-family: monospace, serif; font-size: 1em;
}
kbd {
	font-family: monospace, serif; font-size: 1em;
}
pre {
	font-family: monospace, serif; font-size: 1em;
}
samp {
	font-family: monospace, serif; font-size: 1em;
}
pre {
	white-space: pre-wrap;
}
q {
	quotes: "¡°" "¡±" "¡®" "¡¯";
}
small {
	font-size: 80%;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0px currentColor; border-image: none;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0px;
}
fieldset {
	margin: 0px 2px; padding: 0.35em 0.62em 0.75em; border: 1px solid rgb(192, 192, 192); border-image: none;
}
legend {
	padding: 0px; border: 0px currentColor; border-image: none;
}
button {
	margin: 0px; font-family: inherit; font-size: 100%;
}
input {
	margin: 0px; font-family: inherit; font-size: 100%;
}
select {
	margin: 0px; font-family: inherit; font-size: 100%;
}
textarea {
	margin: 0px; font-family: inherit; font-size: 100%;
}
button {
	line-height: normal;
}
input {
	line-height: normal;
}
button {
	text-transform: none;
}
select {
	text-transform: none;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
html input[disabled] {
	cursor: default;
}
input[type='checkbox'] {
	padding: 0px; box-sizing: border-box;
}
input[type='radio'] {
	padding: 0px; box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-appearance: textfield; -webkit-box-sizing: content-box;
}
textarea {
	overflow: auto; vertical-align: top;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
.grid {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.unit {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.grid {
	clear: both; display: block;
}
.grid .unit {
	padding: 10px; width: 100%; float: left;
}
.grid :first-child.unit {
	padding-left: 20px;
}
.grid :last-child.unit {
	padding-right: 20px;
}
.unit :first-child.unit {
	padding-left: 0px;
}
.unit :last-child.unit {
	padding-right: 0px;
}
.unit :first-child.grid > .unit {
	padding-top: 0px;
}
.unit :last-child.grid > .unit {
	padding-bottom: 0px;
}
.no-gutters .unit {
	padding: 0px !important;
}
.unit.no-gutters {
	padding: 0px !important;
}
.wrap .grid {
	margin: 0px auto; max-width: 978px;
}
.grid.wrap {
	margin: 0px auto; max-width: 978px;
}
.grid .whole {
	width: 100%;
}
.grid .w-1-1 {
	width: 100%;
}
.grid .half {
	width: 50%;
}
.grid .w-1-2 {
	width: 50%;
}
.grid .one-third {
	width: 33.33%;
}
.grid .w-1-3 {
	width: 33.33%;
}
.grid .two-thirds {
	width: 66.66%;
}
.grid .w-2-3 {
	width: 66.66%;
}
.grid .one-quarter {
	width: 25%;
}
.grid .w-1-4 {
	width: 25%;
}
.grid .three-quarters {
	width: 75%;
}
.grid .w-3-4 {
	width: 75%;
}
.grid .one-fifth {
	width: 20%;
}
.grid .w-1-5 {
	width: 20%;
}
.grid .two-fifths {
	width: 40%;
}
.grid .w-2-5 {
	width: 40%;
}
.grid .three-fifths {
	width: 60%;
}
.grid .w-3-5 {
	width: 60%;
}
.grid .four-fifths {
	width: 80%;
}
.grid .w-4-5 {
	width: 80%;
}
.grid .golden-small {
	width: 38.27%;
}
.grid .w-g-s {
	width: 38.27%;
}
.grid .golden-large {
	width: 61.72%;
}
.grid .w-g-l {
	width: 61.72%;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.show-on-mobiles {
	display: none;
}
@media screen and (max-width:568px)
{
.grid .unit {
	width: 100% !important; padding-right: 20px; padding-left: 20px;
}
.unit .grid .unit {
	padding-right: 0px; padding-left: 0px;
}
.center-on-mobiles {
	text-align: center !important;
}
.hide-on-mobiles {
	display: none !important;
}
.show-on-mobiles {
	display: block !important;
}
a .show-on-mobiles {
	display: inline !important;
}
}
* {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
body {
	background: rgb(51, 51, 51); color: rgb(221, 221, 221); font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 21px; font-weight: 300; border-top-color: rgb(255, 204, 0); border-top-width: 5px; border-top-style: solid; box-shadow: inset 0px 3px 30px rgba(0,0,0,0.3); text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.clear {
	display: block;
}
.clear::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: " ";
}
body > header {
	width: 100%; clear: both; float: left;
}
body > section {
	width: 100%; clear: both; float: left;
}
body > footer {
	width: 100%; clear: both; float: left;
}
body > header h1 {
	display: inline-block;
}
body > header nav {
	display: inline-block;
}
body > header h1 span {
	display: none;
}
nav ul {
	margin: 0px; padding: 0px;
}
nav li {
	display: inline-block;
}
.main-nav {
	margin-top: 52px;
}
.main-nav li {
	margin-right: 10px;
}
.main-nav li a {
	padding: 0.5em 1em; border-radius: 5px; transition:0.25s; text-transform: uppercase; font-size: 14px; font-weight: 800; text-shadow: none; -moz-transition: all .25s; -webkit-transition: all .25s;
}
.main-nav li a:hover {
	background: rgb(37, 37, 37); box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.1); text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.main-nav li.current a {
	background: rgb(255, 204, 0); color: rgb(34, 34, 34); box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 1px 5px rgba(0,0,0,0.5); text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}
.mobile-nav ul {
	width: 100%; overflow: hidden; display: table;
}
.mobile-nav a {
	background: rgb(51, 51, 51); padding: 5px; border-radius: 5px; width: 100%; text-align: center; color: rgb(255, 204, 0); text-transform: uppercase; font-size: 14px; font-weight: 800; float: left;
}
.mobile-nav .current a {
	background: rgb(255, 204, 0); color: rgb(34, 34, 34); box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 1px 5px rgba(0,0,0,0.5); text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}
.mobile-nav li {
	padding: 8px; width: 25%; display: table-cell;
}
@media all and (max-width:768px)
{
.main-nav ul {
	text-align: right;
}
}
@media all and (max-width:830px)
{
.main-nav .show-on-mobiles {
	display: inline;
}
.main-nav .hide-on-mobiles {
	display: none;
}
}
body > footer {
	background: rgb(34, 34, 34); color: rgb(136, 136, 136); padding-bottom: 5px; font-size: 16px; margin-top: 40px;
}
body > footer a {
	color: rgb(255, 255, 255);
}
body > footer .align-right p {
	display: inline-block;
}
body > footer img {
	display: inline-block;
}
body > footer img {
	padding: 1px; transition:opacity 0.2s; top: 8px; width: 100px; height: 30px; margin-left: 5px; position: relative; opacity: 0.8; -moz-transition: opacity .2s; -webkit-transition: opacity .2s;
}
body > footer a:hover img {
	opacity: 1;
}
@media all and (max-width:568px)
{
footer .one-third p {
	margin-bottom: 0px;
}
footer .two-thirds p {
	margin-top: -20px;
}
}
.intro .unit {
	padding: 10px 0px 40px;
}
.intro p {
	margin: 0px; line-height: 1em; font-size: 1.75em;
}
@media all and (min-width:569px)
{
.intro p {
	font-size: 3.2em;
}
}
.quickstart {
	background: rgb(63, 31, 31); margin: 60px 0px; color: rgb(255, 255, 255); box-shadow: inset 0px 3px 10px rgba(0,0,0,0.4);
}
.quickstart .content {
	padding: 0px;
}
.quickstart h4 {
	line-height: 24px; font-size: 24px; margin-top: 20px; text-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}
.quickstart .code {
	margin: 0px 0px -30px; font-size: 12px; display: block;
}
@media all and (min-width:768px)
{
.quickstart .code {
	margin: -30px 0px; font-size: 18px; float: right;
}
.quickstart h4 {
	margin: 50px 0px 0px; text-align: center;
}
}
.quickstart .code {
	padding: 0px; line-height: 1.3em; font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace; display: block;
}
.quickstart .code .title {
	background: -ms-linear-gradient(rgb(247, 247, 247) 0%, rgb(207, 207, 207) 7%, rgb(170, 170, 170) 100%); margin: 0px 20px; padding: 5px 0px; border-radius: 5px 5px 0px 0px; text-align: center; color: rgb(68, 68, 68); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; border-bottom-color: rgb(17, 17, 17); border-bottom-width: 1px; border-bottom-style: solid; display: block; box-shadow: 0px 3px 10px rgba(0,0,0,0.5); text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}
.quickstart .code .shell {
	background: rgb(61, 61, 61); margin: 0px 20px; padding: 20px; border-radius: 0px 0px 5px 5px; box-shadow: 0px 5px 30px rgba(0,0,0,0.3); text-shadow: none;
}
.quickstart .code .line {
	margin: 0px; padding: 0px; display: block;
}
.quickstart .code .line span {
	display: inline-block;
}
.quickstart .code .path {
	color: rgb(135, 206, 235); -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
}
.quickstart .code .prompt {
	color: rgb(205, 92, 92); -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
}
.quickstart .code .command {
	color: rgb(240, 230, 140);
}
.quickstart .code .output {
	color: rgb(136, 136, 136);
}
.free-hosting .pane {
	background: rgb(68, 68, 68); padding: 0px 20px 30px; border-radius: 10px; position: relative; text-shadow: none;
}
.free-hosting img {
	margin: -30px 0px 0px; width: 180px; height: 150px;
}
.free-hosting h2 {
	font-size: 28px;
}
.free-hosting p {
	font-size: 16px;
}
.free-hosting a {
	font-size: 16px;
}
.free-hosting p {
	margin: 0.75em 0px;
}
@media all and (min-width:768px)
{
.free-hosting img {
	margin: -20px -30px -30px -50px; width: 300px; height: 251px; float: left;
}
.free-hosting .pane-content {
	padding-right: 30px; margin-top: 35px;
}
.free-hosting p {
	font-size: 18px;
}
.free-hosting a {
	font-size: 18px;
}
.free-hosting .pane::after {
	background: url("../img/footer-arrow.png") no-repeat left top; width: 73px; height: 186px; right: 0px; bottom: -30px; float: right; position: absolute; content: " ";
}
}
article {
	background: rgb(68, 68, 68); margin: 0px 10px; padding: 20px; border-radius: 10px; font-size: 16px; box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
@media all and (max-width:480px)
{
article ul {
	padding-left: 20px;
}
}
@media all and (max-width:568px)
{
article {
	margin: 0px;
}
}
@media all and (min-width:768px)
{
article {
	padding: 40px 40px 30px; font-size: 21px;
}
}
aside {
	padding-top: 30px;
}
aside h4 {
	padding: 0px 0px 10px 30px; text-transform: uppercase; font-size: 14px; font-weight: 700; margin-left: -30px; border-bottom-color: rgb(204, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block;
}
aside ul {
	padding-left: 0px;
}
aside ul:first-child {
	margin-top: 0px;
}
aside li {
	list-style-type: none;
}
aside li a {
	font-size: 16px; position: relative;
}
aside li.current a::before {
	border-width: 10px; border-style: solid; border-color: transparent transparent transparent rgb(68, 68, 68); left: -30px; top: 0px; width: 0px; height: 0px; position: absolute; content: "";
}
.docs article {
	min-height: 800px;
}
.docs .content {
	padding: 0px;
}
.section-nav {
	background: url("../img/article-footer.png") no-repeat top; margin: 40px -20px 10px; text-align: center; padding-top: 40px; position: relative;
}
.section-nav > div {
	width: 49.5%;
}
.section-nav a {
	background: rgb(119, 119, 119); padding: 8px 12px 10px; border-radius: 5px; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 16px; font-weight: 700; box-shadow: 0px 1px 3px rgba(0,0,0,0.3), inset 0px 1px 1px rgba(255,255,255,0.5);
}
.section-nav span {
	background: rgb(119, 119, 119); padding: 8px 12px 10px; border-radius: 5px; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 16px; font-weight: 700; box-shadow: 0px 1px 3px rgba(0,0,0,0.3), inset 0px 1px 1px rgba(255,255,255,0.5);
}
.section-nav a:hover {
	background: rgb(136, 136, 136); color: rgb(255, 255, 255);
}
.section-nav .next {
	position: relative;
}
.section-nav .prev {
	position: relative;
}
.section-nav .next::after {
	top: -7px; color: rgb(34, 34, 34); font-size: 36px; font-weight: 800; position: absolute; text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}
.section-nav .prev::before {
	top: -7px; color: rgb(34, 34, 34); font-size: 36px; font-weight: 800; position: absolute; text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}
.section-nav .next::after {
	right: 10px; content: "?";
}
.section-nav .prev::before {
	left: 10px; content: "?";
}
.section-nav .prev {
	padding-left: 30px;
}
.section-nav .prev:hover {
	padding-left: 30px;
}
.section-nav .next {
	padding-right: 30px;
}
.section-nav .next:hover {
	padding-right: 30px;
}
.section-nav .disabled {
	cursor: default; opacity: 0.5;
}
.docs-nav-mobile select {
	width: 100%;
}
article h2:first-child {
	margin-top: 0px;
}
.post-category {
	font-size: 0.8em; vertical-align: middle; display: inline-block;
}
.post-meta {
	font-size: 0.8em; vertical-align: middle; display: inline-block;
}
.post-category {
	background: linear-gradient(rgb(158, 40, 18) 0%, rgb(111, 13, 13) 100%); padding: 6px 10px 8px 50px; border-radius: 0px 5px 5px 0px; margin-left: -30px; display: inline-block; position: relative; box-shadow: 0px 1px 5px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.2), inset 0px -1px 0px rgba(0,0,0,0.3);
}
.label {
	text-transform: uppercase; font-weight: bold; float: left; text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
}
@media all and (max-width:568px)
{
.post-category {
	padding-left: 30px;
}
}
@media all and (min-width:768px)
{
.post-category {
	margin-left: -50px;
}
}
.post-category::before {
	border-width: 5px; border-style: solid; border-color: transparent rgb(111, 13, 13) rgb(111, 13, 13) transparent; left: 0px; top: -10px; width: 0px; height: 0px; position: absolute; content: "";
}
.avatar {
	border-radius: 3px; width: 24px; height: 24px; vertical-align: middle; display: inline-block;
}
.post-meta {
	padding: 5px 0px; color: rgb(170, 170, 170); font-weight: 600; text-shadow: 0px -1px 0px #000;
}
.post-date {
	margin-left: 10px;
}
.post-author {
	margin-left: 10px;
}
.news article + article {
	border-radius: 0px 0px 10px 10px; margin-top: -10px; border-top-color: rgb(85, 85, 85); border-top-width: 1px; border-top-style: solid; box-shadow: 0px -1px 0px #2f2f2f;
}
pre {
	margin: 0px; padding: 0px 0.5em; line-height: 1.8em; font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace; font-size: 14px; display: inline-block; white-space: pre;
}
code {
	margin: 0px; padding: 0px 0.5em; line-height: 1.8em; font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace; font-size: 14px; display: inline-block; white-space: pre;
}
@media all and (min-width:768px)
{
pre {
	font-size: 16px;
}
code {
	font-size: 16px;
}
}
.highlight {
	background: rgb(51, 51, 51); border-radius: 5px; color: rgb(255, 255, 255); box-shadow: inset 0px 1px 10px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1), 0px -1px 0px rgba(0,0,0,0.5);
}
p > pre {
	background: rgb(51, 51, 51); border-radius: 5px; color: rgb(255, 255, 255); box-shadow: inset 0px 1px 10px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1), 0px -1px 0px rgba(0,0,0,0.5);
}
p > code {
	background: rgb(51, 51, 51); border-radius: 5px; color: rgb(255, 255, 255); box-shadow: inset 0px 1px 10px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1), 0px -1px 0px rgba(0,0,0,0.5);
}
p > nobr > code {
	background: rgb(51, 51, 51); border-radius: 5px; color: rgb(255, 255, 255); box-shadow: inset 0px 1px 10px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1), 0px -1px 0px rgba(0,0,0,0.5);
}
li > code {
	background: rgb(51, 51, 51); border-radius: 5px; color: rgb(255, 255, 255); box-shadow: inset 0px 1px 10px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1), 0px -1px 0px rgba(0,0,0,0.5);
}
h5 > code {
	background: rgb(51, 51, 51); border-radius: 5px; color: rgb(255, 255, 255); box-shadow: inset 0px 1px 10px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1), 0px -1px 0px rgba(0,0,0,0.5);
}
.note > code {
	background: rgb(51, 51, 51); border-radius: 5px; color: rgb(255, 255, 255); box-shadow: inset 0px 1px 10px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1), 0px -1px 0px rgba(0,0,0,0.5);
}
.note code {
	font-size: 0.8em; margin-right: 2.5px; margin-left: 2.5px; background-color: rgba(0, 0, 0, 0.2);
}
.highlight {
	padding: 10px 0px; width: 100%; overflow: auto;
}
h1 {
	margin: 0px;
}
h2 {
	margin: 0px;
}
h3 {
	margin: 0px;
}
h4 {
	margin: 0px;
}
h5 {
	margin: 0px;
}
h6 {
	margin: 0px;
}
a {
	transition:0.25s; color: rgb(255, 204, 0); text-decoration: none; -moz-transition: all .25s; -webkit-transition: all .25s;
}
a:hover {
	color: rgb(255, 153, 0);
}
strong {
	font-weight: 700;
}
p {
	line-height: 1.5em;
}
.left {
	float: left;
}
.right {
	float: right;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
article h2 {
	margin: 1em 0px;
}
article h3 {
	margin: 1em 0px;
}
article h4 {
	margin: 1em 0px;
}
article h5 {
	margin: 1em 0px;
}
article h6 {
	margin: 1em 0px;
}
article h4 {
	color: rgb(255, 255, 255);
}
h5 {
	font-size: 1em; font-style: italic;
}
h6 {
	font-size: 1em; font-style: italic;
}
article ul li p {
	margin: 0px;
}
article ul li {
	line-height: 1.5em; margin-bottom: 0.5em;
}
article ol li {
	line-height: 1.5em; margin-bottom: 0.5em;
}
article ul li blockquote {
	margin: 10px 0px;
}
blockquote {
	padding-left: 20px; font-size: 18px; font-style: italic; font-weight: 500; border-left-color: rgb(119, 119, 119); border-left-width: 2px; border-left-style: solid;
}
table {
	background: rgb(85, 85, 85); margin: 0.5em 0px; border-radius: 5px; width: 100%; box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
thead {
	background: linear-gradient(rgb(58, 58, 58) 0%, rgb(30, 30, 30) 100%); color: rgb(255, 255, 255); border-top-left-radius: 5px; border-top-right-radius: 5px;
}
thead th {
	position: relative; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1);
}
thead th:first-child {
	border-top-left-radius: 5px;
}
thead th:last-child {
	border-top-right-radius: 5px;
}
td {
	padding: 0.5em 0.75em;
}
td p {
	margin: 0px;
}
th {
	padding: 0.5em 0.75em; color: rgb(136, 136, 136); text-transform: uppercase; font-size: 16px; text-shadow: 0px -1px 0px rgba(0,0,0,0.9);
}
tbody td {
	background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%); border-top-color: rgba(0, 0, 0, 0.1); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1);
}
td p {
	font-size: 16px;
}
td p code {
	font-size: 14px;
}
code.option {
	color: rgb(80, 182, 0);
}
th .option {
	color: rgb(80, 182, 0);
}
code.filter {
	color: rgb(80, 182, 0);
}
th .filter {
	color: rgb(80, 182, 0);
}
code.flag {
	color: rgb(4, 157, 206);
}
th .flag {
	color: rgb(4, 157, 206);
}
code.output {
	color: rgb(4, 157, 206);
}
th .output {
	color: rgb(4, 157, 206);
}
code.option {
	margin-bottom: 2px;
}
code.flag {
	margin-bottom: 2px;
}
code.filter {
	margin-bottom: 2px;
}
code.output {
	margin-bottom: 2px;
}
.note {
	background: linear-gradient(rgb(126, 109, 66) 0%, rgb(92, 78, 53) 100%); margin: 30px 0px 30px -30px; padding: 20px 20px 24px 50px; border-radius: 0px 5px 5px 0px; position: relative; box-shadow: 0px 1px 5px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.2), inset 0px -1px 0px rgba(0,0,0,0.3);
}
@media all and (max-width:568px)
{
.note {
	margin-right: -30px;
}
}
@media all and (min-width:768px)
{
.note {
	margin-left: -50px;
}
}
.note::before {
	border-width: 5px; border-style: solid; border-color: transparent rgb(34, 34, 34) rgb(34, 34, 34) transparent; left: 0px; top: -10px; width: 0px; height: 0px; position: absolute; content: "";
}
.note h5 {
	margin: 0px; color: rgb(255, 255, 255);
}
.note p {
	margin: 0px; color: rgb(255, 255, 255);
}
.note h5 {
	line-height: 1.5em; font-style: normal; font-weight: 800;
}
.note p {
	font-size: 0.75em; font-weight: 400;
}
.info {
	background: linear-gradient(rgb(3, 137, 170) 0%, rgb(0, 97, 127) 100%);
}
.warning {
	background: linear-gradient(rgb(158, 40, 18) 0%, rgb(111, 13, 13) 100%);
}
.info::before {
	border-color: transparent rgb(0, 97, 127) rgb(0, 97, 127) transparent;
}
.warning::before {
	border-color: transparent rgb(111, 13, 13) rgb(111, 13, 13) transparent;
}
.note::after {
	left: 14px; top: 14px; color: rgb(255, 204, 0); font-size: 28px; font-weight: bold; position: absolute; content: "¡ï"; text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
}
.info::after {
	left: 15px; top: 15px; color: rgb(255, 255, 255); font-size: 28px; font-weight: bold; position: absolute; content: "?"; text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
}
.warning::after {
	left: 15px; top: 15px; color: rgb(255, 204, 0); font-size: 32px; font-weight: bold; position: absolute; content: "?"; text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
}
@media all and (max-width:768px)
{
.mobile-side-scroller {
	margin: 0px -40px; padding: 0px 10px; -ms-overflow-x: scroll;
}
}
.highlight .hll {
	background-color: rgb(255, 255, 204);
}
.highlight .c {
	color: rgb(135, 206, 235);
}
.highlight .err {
	color: rgb(255, 255, 255);
}
.highlight .g {
	color: rgb(255, 255, 255);
}
.highlight .k {
	color: rgb(240, 230, 140);
}
.highlight .l {
	color: rgb(255, 255, 255);
}
.highlight .n {
	color: rgb(255, 255, 255);
}
.highlight .o {
	color: rgb(255, 255, 255);
}
.highlight .x {
	color: rgb(255, 255, 255);
}
.highlight .p {
	color: rgb(255, 255, 255);
}
.highlight .cm {
	color: rgb(135, 206, 235);
}
.highlight .cp {
	color: rgb(205, 92, 92);
}
.highlight .c1 {
	color: rgb(135, 206, 235);
}
.highlight .cs {
	color: rgb(135, 206, 235);
}
.highlight .gd {
	color: rgb(0, 0, 192); font-weight: bold; background-color: rgb(0, 128, 128);
}
.highlight .ge {
	color: rgb(192, 0, 192); text-decoration: underline;
}
.highlight .gr {
	color: rgb(192, 192, 192); font-weight: bold; background-color: rgb(192, 0, 0);
}
.highlight .gh {
	color: rgb(205, 92, 92);
}
.highlight .gi {
	color: rgb(255, 255, 255); background-color: rgb(0, 0, 192);
}
.highlight span.go {
	color: rgb(173, 216, 230); font-weight: bold; background-color: rgb(77, 77, 77);
}
.highlight .gp {
	color: rgb(255, 255, 255);
}
.highlight .gs {
	color: rgb(255, 255, 255);
}
.highlight .gu {
	color: rgb(205, 92, 92);
}
.highlight .gt {
	color: rgb(192, 192, 192); font-weight: bold; background-color: rgb(192, 0, 0);
}
.highlight .kc {
	color: rgb(240, 230, 140);
}
.highlight .kd {
	color: rgb(240, 230, 140);
}
.highlight .kn {
	color: rgb(240, 230, 140);
}
.highlight .kp {
	color: rgb(240, 230, 140);
}
.highlight .kr {
	color: rgb(240, 230, 140);
}
.highlight .kt {
	color: rgb(189, 183, 107);
}
.highlight .ld {
	color: rgb(255, 255, 255);
}
.highlight .m {
	color: rgb(255, 255, 255);
}
.highlight .s {
	color: rgb(255, 255, 255);
}
.highlight .na {
	color: rgb(255, 255, 255);
}
.highlight .nb {
	color: rgb(255, 255, 255);
}
.highlight .nc {
	color: rgb(255, 255, 255);
}
.highlight .no {
	color: rgb(255, 160, 160);
}
.highlight .nd {
	color: rgb(255, 255, 255);
}
.highlight .ni {
	color: rgb(255, 222, 173);
}
.highlight .ne {
	color: rgb(255, 255, 255);
}
.highlight .nf {
	color: rgb(255, 255, 255);
}
.highlight .nl {
	color: rgb(255, 255, 255);
}
.highlight .nn {
	color: rgb(255, 255, 255);
}
.highlight .nx {
	color: rgb(255, 255, 255);
}
.highlight .py {
	color: rgb(255, 255, 255);
}
.highlight .nt {
	color: rgb(240, 230, 140);
}
.highlight .nv {
	color: rgb(152, 251, 152);
}
.highlight .ow {
	color: rgb(255, 255, 255);
}
.highlight .w {
	color: rgb(255, 255, 255);
}
.highlight .mf {
	color: rgb(255, 255, 255);
}
.highlight .mh {
	color: rgb(255, 255, 255);
}
.highlight .mi {
	color: rgb(255, 255, 255);
}
.highlight .mo {
	color: rgb(255, 255, 255);
}
.highlight .sb {
	color: rgb(255, 255, 255);
}
.highlight .sc {
	color: rgb(255, 255, 255);
}
.highlight .sd {
	color: rgb(255, 255, 255);
}
.highlight .s2 {
	color: rgb(255, 255, 255);
}
.highlight .se {
	color: rgb(255, 255, 255);
}
.highlight .sh {
	color: rgb(255, 255, 255);
}
.highlight .si {
	color: rgb(255, 255, 255);
}
.highlight .sx {
	color: rgb(255, 255, 255);
}
.highlight .sr {
	color: rgb(255, 255, 255);
}
.highlight .s1 {
	color: rgb(255, 255, 255);
}
.highlight .ss {
	color: rgb(255, 255, 255);
}
.highlight .bp {
	color: rgb(255, 255, 255);
}
.highlight .vc {
	color: rgb(152, 251, 152);
}
.highlight .vg {
	color: rgb(152, 251, 152);
}
.highlight .vi {
	color: rgb(152, 251, 152);
}
.highlight .il {
	color: rgb(255, 255, 255);
}
.highlight .bash .nv {
	-ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
}
body {
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Î¢ÈíÑÅºÚ", sans-serif;
}
.main-nav li a {
	padding: 0.3em 2em; font-size: 18px;
}
aside h4 {
	padding: 0px 10px 10px 30px; font-size: 18px;
}
body > footer {
	padding-bottom: 0px;
}
.jekyllcn-footer {
	background: rgb(51, 51, 51);
}
.jekyllcn-footer p {
	margin: 0px;
}
.doc-meta {
	font-size: 0.8em; vertical-align: middle; display: inline-block;
}
.doc-origin {
	font-size: 0.8em; vertical-align: middle; display: inline-block;
}
.doc-origin {
	background: linear-gradient(rgb(158, 40, 18) 0%, rgb(111, 13, 13) 100%); padding: 6px 10px 8px 50px; border-radius: 0px 5px 5px 0px; margin-left: -30px; display: inline-block; position: relative; box-shadow: 0px 1px 5px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.2), inset 0px -1px 0px rgba(0,0,0,0.3);
}
@media all and (max-width:568px)
{
.doc-origin {
	padding-left: 30px;
}
}
@media all and (min-width:768px)
{
.doc-origin {
	margin-left: -50px;
}
}
.doc-origin::before {
	border-width: 5px; border-style: solid; border-color: transparent rgb(111, 13, 13) rgb(111, 13, 13) transparent; left: 0px; top: -10px; width: 0px; height: 0px; position: absolute; content: "";
}
article h1 {
	margin: 0px 0px 0.5em;
}
.doc-meta {
	padding: 5px 0px 0px 10px; color: rgb(170, 170, 170); font-weight: 600; text-shadow: 0px -1px 0px #000;
}
